
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*header*/
hgroup h1 {
    height: 50px;
    border-bottom: 1px solid gray;
}
/*header*/

/*displays of none*/
figure {
    display: none;
}

hgroup h2 {
    display: none;
}

#about h3 {
    display: none;
}

.experience-institution {
    display: none;
}
/*displays of none*/

/*about*/
#about p {
    margin: auto;
    color: gray;
    font-style: italic;
    font-size: 13px;
    margin-top: -10px;
}
/*about*/

/*competencies start*/
#competencies {
    display: grid;
    grid-template-rows: 35% 28% 28%;
    margin-top: 30%;
    grid-gap: 6px;
}
#competencies h3 {
    border-bottom: 1px solid black;
    width: 135px;
    height: 20px;
    font-style: italic;
}
.skill {
    background-color: darkcyan;
}

/*primary*/
.skills-primary {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
}

.skills-primary .skill {
    padding-top: 11px;
    padding-left: 5px;
    font-size: 14px;
    color: white;
}

[data-skill="5"]::after {
    content: "\2605\2605\2605";
    margin-top: -17px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

.skills-primary [data-skill="3"]::after {
    content: "\2605\2605";
    margin-top: -17px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

  [data-skill="1"]::after {
    content: "\2605";
    margin-top: -17px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

  [data-skill="1"] {
    font-size: 13.5px !important;
    padding-top: 10px !important;
}
/*primary*/

/*secondary*/
.skills-secondary {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
}

.skills-secondary .skill {
    color: white;
    padding-top: 9px;
    padding-left: 5px;
    font-size: 10px;
}

[data-skill="9"]::after {
    content: "\2605\2605\2605\2605\2605";
    margin-top: -12px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

.skills-secondary [data-skill="5"]::after {
    content: "\2605\2605\2605";
    margin-top: -12px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

  [data-skill="7"]::after {
    content: "\2605\2605\2605\2605";
    margin-top: -12px;
    padding-right: 7px;
    display: flex;
    justify-content: flex-end;
  }
/*secondary*/
/*competencies end*/

/*experiences start*/
#experiences {
    margin-top: 20%;
}

#experiences h3 {
    border-bottom: 1px solid black;
    width: 135px;
    height: 20px;
    font-style: italic;
}

#experiences h4 {
    color: darkcyan;
    font-size: 14px;
}

.experience-type {
    font-size: 14px ;
}

.experience-details {
    color: gray;
    float: right;
    margin-top: -34px;
    font-size: 14px;
}

.experience-description {
    font-size: 13px;
}
/*experiences end*/

/*eduction start*/
#education {
    margin-top: 20%;
}

#education h3 {
    border-bottom: 1px solid black;
    width: 135px;
    height: 20px;
    font-style: italic;
}

#education h4 {
    color: darkcyan;
    font-size: 14px;
}

#education .experience-type {
    font-size: 14px ;
}

#education .experience-details {
    color: gray;
    float: right;
    margin-top: -34px;
    font-size: 14px;
}

#education .experience-description {
    font-size: 13px;
}
/*education end*/

/*hobbies start*/
#hobbies {
    margin-top: 20%;
}

#hobbies h3 {
    border-bottom: 1px solid black;
    width: 85px;
    height: 20px;
    font-style: italic;
}

#hobbies ul {
    display: flex;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    margin-left: -40px;
}

#hobbies li:first-child::before{
    content: "";
    display: flex;
    background: url("../images/pot.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 6px;
} 

#hobbies li:nth-child(2n)::before{
    content: "";
    display: flex;
    background: url("../images/arm.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 6px;
}

#hobbies li:last-child::before{
    content: "";
    display: flex;
    transform: rotate(48deg);
    background: url("../images/darbuka.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 6px;
}
/*hobbies end*/

/*contacts start*/

#contact {
    width: 100%;
    margin-top: 6%;
    height: 107px;
    margin-bottom: -7px;
}

#contact h3 {
    display: none;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5px;
    font-size: 17px;
}
.contact-type {
    grid-column-start: 1;
    grid-column-end: 2;
}
.contact-value {
    grid-column-start: 2;
    grid-column-end: 4;
}
.contact-value {
    color: white;
}
.contact-phone,.contact-value {
    margin-left: 0px;
}
a {
    text-decoration: none;
    color: white;
}
/*contacts end*/

@media all and (min-width:750px) {
    #about p {
        width: 70%;
        margin: 0;
    }

    figure {
        display: flex;
        float: right;
        margin-top: -67px;
        transform: rotate(347deg);
    }

    figure img {
        width: 140px;
    }

    #competencies {
        width: 70%;
        display: grid;
        grid-template-columns: 120px 2fr;
        grid-template-rows: 13px 50px;
        margin-top: 60px;
    }

    #competencies h3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border-bottom: none;
        border-right: 1px solid black;
        height: 90px;
        width: 115px;
    }

    .skills-primary {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .skills-secondary {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        margin-top: -10px;
    }

    .skills-primary [data-skill="5"]::after {
        margin-left: 20px;
    }

    [data-skill="3"]::after {
        margin-left: 45px !important;
    }

    [data-skill="1"]::after {
        margin-left: 30px;
    }

    [data-skill="9"]::after {
        margin-left: 30px;
    }

    .skills-secondary [data-skill="5"]::after {
        margin-left: 54px;
    }

    [data-skill="7"]::after {
        margin-left: 29px;
    }

    #experiences {
        display: grid;
        grid-template-columns: 120px 2fr;
        margin-top: 3%;
    }

    #experiences h3 {
        border-bottom: none;
        border-right: 1px solid black;
        height: 190%;
        width: 115px;
    }

    .experience {
        grid-column-start: 2;
        margin-left: 3px;
    }

    #education {
        display: grid;
        grid-template-columns: 120px 2fr;
        margin-top: 3%;
    }

    #education h3 {
        border-bottom: none;
        border-right: 1px solid black;
        height: 190%;
        width: 115px;
    }

    #eduction, .experience {
        grid-column-start: 2;
        margin-left: 3px;
    }

    #hobbies {
        display: grid;
        grid-template-columns: 120px 2fr;
        margin-top: 3%;
    }

    #hobbies h3 {
        border-bottom: none;
        border-right: 1px solid black;
        height: 90%;
        width: 112px;
    }

    #hobbies ul {
        margin-top: 40px;
    }
    #hobbies, .experience {
        grid-column-start: 2;
        margin-left: 3px;
    }
    
    #contact h3 {
        display: none;
    }

    .contact-type {
        display: none;
    }

    .contact-value {
        display: none;
    }

    #contact {
        display: flex;
        justify-content: center;
    }

    .contact {
        display: inline-flex;
        height: 100px !important; 
        width: 100px !important;
    }

    .contact-skype {
        display: none;
    }
    .contact-email {
        background: url("../../css-cv2/images/email.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-phone {
        background: url("../../css-cv2/images/phone.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-github {
        background: url("../images/github.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-facebook {
        background: url("../../css-cv2/images/facebook.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }
}

@media all and (min-width: 450px) {
    #hobbies ul {
        justify-content: space-evenly;
    }
}

@media all and (max-width:750px) {
    #contact {
        background-color: darkcyan;
    }
}

@media all and (min-width: 850px) {
    .skills-primary .skill {
        font-size: 18px;
        color: white;
    }
    [data-skill="5"]::after {
        margin-top: -24px;
    }
    .skills-primary [data-skill="3"]::after {
        margin-top: -24px;
    }
    [data-skill="1"] {
        font-size: 18px !important;
        padding-top: 10px !important;
    }
    [data-skill="1"]::after {
        margin-top: -24px;
    }
}
@media all and (min-width: 900px) {
    #hobbies ul {
        font-size: 20px;
    }
    #hobbies li:first-child::before{
        width: 64px;
        height: 64px;
    }
    #hobbies li:nth-child(2n)::before{
        width: 64px;
        height: 64px;
    }
    #hobbies li:last-child::before{
        width: 64px;
        height: 64px;
    }
}
