#wrapper {
  font-size: larger;
}
hgroup h1 {
  border-bottom: 2px solid gray;
  margin-top: 4rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
}
hgroup h2 {
  display: none;
}
figure img {
  display: none;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5% 5% 3% 5% 1fr 1fr 5% 1fr 1fr;
}
.content section {
  display: contents;
}
#about h3 {
  display: none;
}
#about p {
  display: flex;
  margin-left: 2rem;
}
h3 {
  border-bottom: 1px solid black;
  width: 9rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
#competencies h3 {
  grid-column: 1;
  grid-row: 2;
}
.skills {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.skills-primary {
  padding: 1rem 5rem 0rem 0;
}
.skill {
  border: 1px solid black;
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: flex;
  background-color: darkgreen;
  color: white;
  width: 28%;
  justify-content: space-between;
}
.skills-secondary {
  padding: 0.6rem 5rem 0rem 0;
  font-size: small;
}
[data-skill="5"]::after {
  content: "\2605\2605\2605";
  justify-content: left;
}
[data-skill="3"]::after {
  content: "\2605\2605";
  justify-content: left;
}
[data-skill="1"]::after {
  content: "\2605";
  justify-content: left;
}
[data-skill="9"]::after {
  content: "\2605\2605\2605\2605\2605";
  justify-content: left;
}
[data-skill="5"]::after {
  content: "\2605\2605\2605";
  justify-content: left;
}
[data-skill="7"]::after {
  content: "\2605\2605\2605\2605";
  justify-content: left;
}
#experiences h3 {
  grid-column: 1;
  grid-row: 5;
}

.experience {
  margin-right: 2rem;
  margin-left: 2rem;
  grid-column: 1;
}
.experience h4 {
  margin-top: 1rem;
}
.experience-type {
  color: green;
}
.experience-institution {
  display: none;
}
.experience-details {
  margin-top: 1.5rem;
  color: gray;
}
#education {
  padding-top: 2rem;
}
#education h3 {
  grid-column: 1;
  grid-row: 8;
}
#hobbies {
  display: none;
}
#contact {
  display: none;
}
@media (min-width: 800px) {
  body {
    padding-left: 2rem;
    padding-right: 4rem;
  }
  hgroup h1 {
    margin-left: 3rem;
  }
  #about p {
    color: lightgray;
    display: flex;
    margin-left: 3rem;
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  figure img {
    position: absolute;
    top: 9%;
    right: 10%;
    display: flex;
    transform: rotate(-12deg);
    height: 25%;
  }

  .experience {
    margin-right: 0;
  }
  .content {
    grid-template-rows: 20% 6% 5% 13% 20% 13% 20% 10% 20%;
    grid-template-columns: 10rem 50% 30%;
  }
  #competencies h3 {
    grid-row: 2 / span 3;
    grid-column: 1;
    margin-top: 0;
    height: 7.5rem;
  }
  .skills-primary {
    grid-row: 2;
    grid-column: 2;
    padding: 1rem 1rem 0rem 0;
  }
  .skills-secondary {
    grid-row: 3;
    grid-column: 2;
    padding: 1rem 1rem 0rem 0;
  }

  #experiences h3 {
    grid-row: 4 / span 2;
    grid-column: 1;
  }
  .experience {
    grid-column: 2 / span 2;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    position: relative;
  }
  .experience-details {
    top: 0;
    right: 0%;
    position: absolute;
  }
  #education h3 {
    grid-row: 6 / span 2;
    grid-column: 1;
  }
  h3 {
    border-bottom: transparent;
    border-right: 2px solid gray;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 0;
    padding-left: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  #hobbies {
    display: contents;
    grid-column: 1;
  }
  #hobbies h3 {
    height: 5rem;
  }
  #hobbies ul {
    padding-top: 1rem;
  }
  #contact {
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 3;
    grid-row: 9;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 3rem;
  }
  #contact h3 {
    display: none;
  }
  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .contact-type {
    display: none;
  }
  .contact-value {
    display: none;
  }
  .contact {
    display: inline-block;
    margin: 0.8rem;
  }
  .contact-email {
    background: url("../../style2/images/email.png") no-repeat;
    height: 100px;
    width: 100px;
    background-size: cover;
  }
  .contact-phone {
    background: url("../../style2/images/phone.png") no-repeat;
    height: 100px;
    width: 100px;
    background-size: cover;
  }
  .contact-github {
    background: url("../../style2/images/github.png") no-repeat;
    height: 100px;
    width: 100px;
    background-size: cover;
  }
  .contact-facebook {
    background: url("../../style2/images/facebook.png") no-repeat;
    height: 100px;
    width: 100px;
    background-size: cover;
  }
}
